/* Light Mode */
.light-mode {
  background-color: #f5f5f5;
  color: #000;
}

.light-mode .sidebar {
  background-color: white;
}

.light-mode .chat-window {
  background-color: #e1e8f0;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #fff;
}

.dark-mode .sidebar {
  background-color: #1e1e1e;
}

.dark-mode .chat-window {
  background-color: #0d1b2a;
}
